<div style="text-align:center; margin:45px 0; width: 100%;">
  <a href="{{url}}" target="_blank" style="
    display:inline-block;
    background:#007CC3;
    color:white;
    font-size:17px;
    font-weight:600;
    padding:16px 48px;
    border-radius:8px;
    text-decoration:none;
    width: 70%
  ">
    {{text}}
  </a>
</div>