<table role="presentation" width="100%" cellpadding="0" cellspacing="0" style="margin:0; padding:40px 20px 10px;">
  <tr>
    <td align="center">
      <img src="https://res.cloudinary.com/dwl0pqzlx/image/upload/v1767950584/logo2_fa4g5e.png" 
           alt="SKI-SHOP" 
           width="140" 
           style="display:block; width:140px; max-width:140px; height:auto; border:0;" />
    </td>
  </tr>
</table>